<!doctype html>
<html>
<head>
    <meta charset=" ">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/profile.css">
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <title>Document</title>
</head>
<body>
<!--
<p>
    <strong>id</strong>: <%= user._id %><br>
    <strong>email</strong>: <%= user.local.email %><br>
    <strong>password</strong>: <%= user.local.password %>
</p>
-->
<section id="about" class="section-content about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <figure class="fig-profile wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
                    <img class="img-responsive img-circle img-profile" title="Roland Maruntelu" alt="Roland Maruntelu" src="../img/profile-temp/profile-img.jpg">
                    <figcaption>Hello !</figcaption>
                </figure>
                <div class="flag">
                    <span class="blue"></span>
                    <span class="yellow"></span>
                    <span class="red"></span>
                </div>
                <div class="clearfix"></div>

                <h2 class="name"><b><%= user.local.name %></b></h2>
                <h3 class="position">Web Designer & Wordpress Theme Developer</h3>
                <h4 class="text-center location">based in Bucharest, Romania</h4>
                <div class="title-divider">
                    <span class="hr-divider col-xs-5"></span>
                    <span class="icon-separator col-xs-2"><i class="fa fa-star"></i></span>
                    <span class="hr-divider col-xs-5"></span>
                </div>

            </div>

            <div class="col-md-8 col-md-offset-2 text-center">
                <p class="caption"><%= user.local.acountType %></p>
                <h2 class="slogan"><%= user.local.email %></h2>
                <a href="/portfolio/edit" class="btn btn-default secondary-bg btn-lg">View my portfolio</a>
                <a href="http://rolyart.ro/contact" class="btn btn-default page-scroll primary-bg btn-lg">Request custom theme</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>
